@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
:root {
  --header-background-color: #47cfac;
  --primary-background-color: #434a54;
  --light-white: #e6e9ed;
  --dark-white: #ccd1d9;
  --light-gray-color: #656d78;
  --dark-gray-color: #23282d; 
  --purple-secundary-color: #ac92ec; 
  --green-secondary-color: #a0d478;
  --roboto: 'Roboto', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --roboto-slab: 'Roboto Slab', serif;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: var(--roboto-mono);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}
header {
  width: 100%;
  display: grid;
  grid-template-rows: auto 100px;
}
.header-icons {
  width: 100%;
  height: 50px;
  display: grid;
  align-items: center;
  background-color: var(--header-background-color);
  justify-content: end;
}
.header-icons__container {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}
.header-icons__container span {
  color: white;
}
.nav-container {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  
  padding: 0 50px;
  align-items: center;  
}
nav .nav__logo-container img {
  width: 220px;
}
.nav__profile-link a {
  color: black;
  border-bottom: 1px solid black;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
}
.main__section-news {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 30px 60px; 
  background-color: var(--dark-white);
}
.main__section-news--grid {
  display: grid;
  grid-template-columns: 4fr 2fr ;
}
.section-news__title {
  display: flex; 
}
.section-news__title p {
  font-weight: 600;
  font-size: 1.1rem;
}
.section-news__img-container {
  width: 90%;
}
.section-news__img-container img{
  width: 100%;
  height:  100%;
}
.section-news__info h2 {
  font-size: 2.5rem;
}
.section-news__info p {
  max-width: 95%;
  font-size: .9rem;
  margin-bottom: 30px;
}
.info__more-button {
  display: inline-block;
  border: solid 2px var(--header-background-color);
  padding: 8px 16px;
}


.section-last {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-last__title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: solid 1px var(--light-gray-color);
}
.section-last__title h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.section-last__grid-blogs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog-targeta img {
  width: 100%;
}
.blog-targeta p {
  font-size: .9rem;
}

footer {
  width: 100%;
  position: relative;
  margin-top: 60px;
}
.footer__parragraph-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--dark-gray-color);
  color: var(--dark-white);
}
.footer__parragraph-container::before {
  content: "";
  height: 30px;
  width: 100%;
  background-color: var(--header-background-color);
  position: absolute;
  top: -30px;
  left: 0;
}