@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
:root {
  --header-background-color: #47cfac;
  --primary-background-color: #434a54;
  --light-white: #e6e9ed;
  --dark-white: #ccd1d9;
  --light-gray-color: #656d78;
  --dark-gray-color: #23282d; 
  --purple-secundary-color: #ac92ec; 
  --green-secondary-color: #a0d478;
  --roboto: 'Roboto', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --roboto-slab: 'Roboto Slab', serif;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--roboto-mono);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}
header {
  width: 100%;
  display: grid;
  grid-template-rows: auto 100px;
}
.header-icons {
  width: 100%;
  height: 50px;
  display: grid;
  align-items: center;
  background-color: var(--header-background-color);
  justify-content: end;
}
.header-icons__container {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}
.header-icons__container span {
  color: white;
}
.header-icons__container span::before {
  margin: 0;
}
.nav-container {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  
  padding: 0 50px;
  align-items: center;  
}
nav .nav__logo-container img {
  width: 220px;
}
.nav__profile-link a {
  color: black;
  border-bottom: 1px solid black;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
}
.perfil-section {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 40px; 
  background-color: var(--dark-white);
}
.perfil-section--grid {
  display: grid;
  grid-template-columns: 4fr 2fr ;
}
.perfil-section__img-container {
  width: 90%;
}
.perfil-section__img-container img{
  width: 100%;
  height:  100%;
}
.perfil-section__info h2 {
  font-size: 2.5rem;
}
.perfil-section__info p {
  max-width: 95%;
  font-size: .9rem;
  margin-bottom: 30px;
}
.info__more-button {
  display: inline-block;
  border: solid 2px var(--header-background-color);
  padding: 8px 16px;
}


.section-last {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-last__title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: solid 1px var(--light-gray-color);
}
.section-last__title h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.section-last__grid-proyects {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.targeta__img-container {
  display: inline-block;
  width: 100%;
  height: 200px;
}
.proyect-targeta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.proyect-targeta h2 {
  font-size: 1.2rem;
}
.proyect-targeta p {
  font-size: .9rem;
}

.contact-main {
  width: 100%;
  background-color: var(--light-white);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fill, 250px);
  place-content: center;
}
.contact-main img {
  width: 120px;
  height: 120px;
}
.contact-main a {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
}
.contact-main__like-section, .contact-main__newsletter-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-section__info-container, .newsletter-section__info-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 18px;
}


footer {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.footer__parragraph-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--dark-gray-color);
  color: var(--dark-white);
}
.footer__parragraph-container::before {
  content: "";
  height: 30px;
  width: 100%;
  background-color: var(--header-background-color);
  position: absolute;
  top: -30px;
  left: 0;
}

